
.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 7rem;
    height: 7rem;
}

.header-Menue{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
    color: white;
}
.header-Menue>li:hover{
    cursor: pointer;
    color: var(--orange);   
}

@media screen and (max-width:768px) {
    .header>:nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .header-Menue{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
}